.App {
  text-align: center;
  padding: 20px;
  background-color: rgb(181, 196, 203);
}

h1, h2 {
  color: #333;
}

button {
  background-color: rgb(68, 77, 86);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 20px 0;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: black ;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
